<div class="container">
	<div class="form-horizontal">
		<div class="form-group">
			<form name="registerform" method="post" onsubmit="return saveForm();">
        <div class="container">
          <h1>Customer Login</h1><hr>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-success" type="button">Email</button>
            </div>
            <input type="text" class="form-control" placeholder="Enter Email" aria-label="" name="email" ([ngModel])="loginDetail.Email" aria-describedby="basic-addon1">
        </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-success" type="button">Password</button>
            </div>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="loginDetail.Password" aria-label="" aria-describedby="basic-addon1">
          </div>      
          <hr>
          <button type="forgotpw" class="btn btn-primary" style="background-color: red">Forgot Password</button>
          <input type="button" class="btn btn-primary" style="background-color: green" (click)="Login()" value="Submit">
              
        </div>                
      </form>
		</div>
	</div>
</div> 
