<div class="mb-5">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
  
        <div id="mdb-lightbox-ui"></div>
  
        <div class="mdb-lightbox">
  
          <div class="row product-gallery mx-1">
  
            <div class="col-12 mb-0"> <hr>
              <figure class="view overlay rounded z-depth-1 main-img">
                <a href="https://fdn2.gsmarena.com/vv/pics/xiaomi/xiaomi-poco-x3-nfc-1.jpg"
                  data-size="710x823">
                  <img src="https://fdn2.gsmarena.com/vv/pics/xiaomi/xiaomi-poco-x3-nfc-1.jpg"
                    class="img-fluid z-depth-1">
                </a>
              </figure>
              
            </div>
            
          </div>
  
        </div>
  
      </div>
      <div class="col-md-6">
        <hr>
        <h5>POCO Mobile</h5>
        <p class="mb-2 text-muted text-uppercase small">Mobiles</p>
        
        <p><span class="mr-1"><strong>RS 16500</strong></span></p>
        <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
          error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
          officia quis dolore quos sapiente tempore alias.</p>
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
      </div>
    </div>
  
</div>
  <script>
      $(document).ready(function () {
  
  $(function () {
    $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
  });
});
  </script>